.content {
    height: 100%;
    align-items: center;
    display: grid;
}

.custom {
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 12px;
}
.shown {
    color: #000;
    background: rgb(255, 0, 0);
}

.mustache {
    margin: 50px;
    padding: 20px;
    border: 1px solid;
    background-color: #fff;
}

.r4e-world {
    background-color: #dd5144;
    padding-bottom: 20px;
    text-align: center;
}
